<!DOCTYPE HTML>
<html>
	<head>
		<title>Portfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<div id="header">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
							<span class="image avatar48"><img src="../static/images/avatar.jpg" alt="" /></span>
							<h1 id="title">Tahlin Yurii</h1>
							<p>Python Developer</p>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="#top" id="top-link"><span class="icon solid fa-home">Intro</span></a></li>
								<li><a href="#portfolio" id="portfolio-link"><span class="icon solid fa-th">Portfolio</span></a></li>
								<li><a href="#about" id="about-link"><span class="icon solid fa-user">About Me</span></a></li>
								<li><a href="#contact" id="contact-link"><span class="icon solid fa-envelope">Contact</span></a></li>
							</ul>
						</nav>

				</div>

				<div class="bottom">

					<!-- Social Icons -->
						<ul class="icons">
							<li><a href="https://www.facebook.com/yura.taglin" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="https://github.com/YuriiTahlin" class="icon brands fa-github"><span class="label">Github</span></a></li>
							<li><a href="https://t.me/taglin" class="icon brands fa-telegram"><span class="label">Telegram</span></a></li>
							<li><a href="mailto:yurii.taglin@gmail.com" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
						</ul>

				</div>

			</div>

		<!-- Main -->
			<div id="main">

				<!-- Intro -->
					<section id="top" class="one dark cover">
						<div class="container">

							<header>
								<h2 class="alt">Hi! I'm <strong>Tahlin Yurii</strong>, a Junior Python Developer<br />
								</h2>
								I build responsive web applications and intuitive user interfaces, focusing on clean, efficient code. My expertise includes website layout, developing Telegram bots, and providing backend and frontend solutions.
							</header>

							<footer>
								<a href="https://github.com/YuriiTahlin" class="button scrolly" target="_blank">Explore the projects</a>
							</footer>

						</div>
					</section>

				<!-- Portfolio -->
					<section id="portfolio" class="two">
						<div class="container">

							<header>
								<h2>Portfolio</h2>
							</header>

							<p>Welcome to my portfolio! <br> Here, you'll find a selection of my work, including web applications, user interfaces, and other projects that showcase my skills and experience as a Junior Python Developer. <br> Take a look at some of my projects below to see what I have been working on.</p>

							<div class="row">
								<div class="col-4 col-12-mobile">
									<article class="item">
										<a href="#" class="image fit"><img src="../static/images/pic02.png" alt="" /></a>
										<header>
											<h3><a href="https://github.com/YuriiTahlin/busvostok_website">Website for a passenger transportation company</a></h3>
										</header>
									</article>
									<article class="item">
										<a href="#" class="image fit"><img src="../static/images/pic03.png" alt="" /></a>
										<header>
											<h3><a href="https://github.com/YuriiTahlin/my_portfolio">My Portfolio</a></h3>
										</header>
									</article>
								</div>
								<div class="col-4 col-12-mobile">
									<article class="item">
										<a href="#" class="image fit"><img src="../static/images/pic04.png" alt="" /></a>
										<header>
											<h3><a href="https://github.com/YuriiTahlin/my_notepad">Notepad Website</a></h3>
										</header>
									</article>
									<article class="item">
										<a href="#" class="image fit"><img src="../static/images/pic05.png" alt="" /></a>
										<header>
											<h3><a href="https://github.com/YuriiTahlin/client_booking_bot">Client Booking Bot</a></h3>
										</header>
									</article>
								</div>
								<div class="col-4 col-12-mobile">
									<article class="item">
										<a href="#" class="image fit"><img src="../static/images/pic06.png" alt="" /></a>
										<header>
											<h3><a href="https://github.com/YuriiTahlin/youtube_video_downloader">YouTube Video Download Bot</a></h3>
										</header>
									</article>
									<article class="item">
										<a href="#" class="image fit"><img src="../static/images/pic07.png" alt="" /></a>
										<header>
											<h3><a href="https://github.com/YuriiTahlin/photographer_website">Beginner Photographer's Website</a></h3>
										</header>
									</article>
								</div>
							</div>

						</div>
					</section>

				<!-- About Me -->
					<section id="about" class="three">
						<div class="container">

							<header>
								<h2>About Me</h2>
							</header>

							<a href="#" class="image featured"><img src="../static/images/pic08.jpg" alt="" /></a>

							<p>I am passionate about developing user interfaces and web applications, with a focus on creating efficient, intuitive, and visually appealing digital experiences. My goal is to continuously improve my skills and deliver high-quality solutions to meet user needs. I enjoy working with modern technologies and collaborating with teams to solve real-world problems.</p>

						</div>
					</section>

				<!-- Contact -->
					<section id="contact" class="four">
						<div class="container">

							<header>
								<h2>Contact</h2>
							</header>

							<p>You can reach out to me through the contact form below, or by phone at +380669866242.<br>You can also connect with me via social media using the icons at the bottom of the site.</p>

							<form method="post" action="#">
								<div class="row">
									<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Name" /></div>
									<div class="col-6 col-12-mobile"><input type="text" name="email" placeholder="Email" /></div>
									<div class="col-12">
										<textarea name="message" placeholder="Message"></textarea>
									</div>
									<div class="col-12">
										<input type="submit" value="Send Message" />
									</div>
								</div>
							</form>

						</div>
					</section>

			</div>

		<!-- Footer -->
			<div id="footer">
			</div>

		<!-- Scripts -->
			<script src="../static/js/jquery.min.js"></script>
			<script src="../static/js/jquery.scrolly.min.js"></script>
			<script src="../static/js/jquery.scrollex.min.js"></script>
			<script src="../static/js/browser.min.js"></script>
			<script src="../static/js/breakpoints.min.js"></script>
			<script src="../static/js/util.js"></script>
			<script src="../static/js/main.js"></script>

	</body>
</html>